/*
 * [2022/2023]
 * 01UDFOV Applicazioni Web I / 01TXYOV Web Applications I
 * Lab 11
 */

/* Global */
.vheight-100 {
  min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bi-star-fill{
  color: yellow;
  size: 'xs';
}

.bi-star-fill:hover{
  color: goldenrod;
}

.below-nav {
  padding-top: 5rem;
}

/* Icons */
.icon-size {
  font-size: 1.5rem;
}

.bi-pencil-square {
  color: white;
}

/* Add task button*/
.fixed-right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
}

.roundedButton {
  border-radius: 50%;
}

.formButton {
  margin-top: 2rem;
}

/* Adding padding to form */
.form-padding {
  padding: 1rem;
}

.dateInfo {
  border-bottom: solid #007bff;
}

.pageInfoCol {
  position: relative;
}

#pageTitle {
  position: absolute;
  bottom: 0;
  color: #007bff;
}

#pageAuthor {
  position: absolute;
  bottom: 0;
}

.block {
  border: solid black;
  margin: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBlocks {
  margin-left: 2rem;
}

/* Specifies the graphical appearence of the toast (used for the login). */
.toast {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#deleteAlert {
  margin-top: 1rem;
}

#noPageAlert {
  margin-top: 6rem;
}

#Carousel {
  width: 550px;
}

.carouselImage {
  width: 550px;
  height: 500px;
  opacity: 0.8;
}

.carouselCaption {
  background-color: black;
  border-bottom: 1px solid white;
  border-radius: 25px;
}

#dynamic-page {
  margin-top: 10rem;
}